body{
	background-color: rgb(200, 164, 109);
}
a{
	font-size: 20px;
}
.cabecera{
	background-color: blue;
	height: 80px;
}

.cabecera1 {
	float: left;
}

.izquierda{
	float: left;
	border: 2px solid black;
	width: 50%;
	margin-left: 7%;
}

.derecha{
	float: right;
	border: 2px solid black;
	width: 30%;
	margin-right: 7%;
}

.explicacion{
	border: 2px solid black;
	float: left;
	 
}

.registrar {

	border: 2px solid black;
	width: 100%;
	float:right; 
	
}

.login {
	margin-top: 2%;
	float: right;
	margin-right: 5%;
}

.logout {
	margin-top: 2%;
	float: right;
	margin-right: 5%;
}


.centrado{
	
	margin-left: 7%;
	margin-right: 7%;
}
.mapa{
	border: 2px solid black;

}

.añadircontacto{
	border: 2px solid black;
	width: 35%;
}

.modificar_perfil{
	border: 2px solid black;
	width: 35%;
}

.error{
	border: 2px solid black;
	text-align: center;
}

img.logo {
	width: 400px;
	height: 80px;
	margin-left: 10%;
}